.product{
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-bottom: 1rem;
}
.img-product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.img-product img{
    border-radius: 20px;
    width: 100%;
    
}

.product-info{
    background-color: white;
    font-family: 'Kufam';
    font-size: 1.5rem;
    padding: 50px;
    width: 40%;
    border-radius: 20px;
}

.product-desc{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product-cat{
    margin-bottom: 1rem;
}

.product-name{
    font-size: 2rem;
}

.product-price{
    color: #3354FF;
    font-weight: 700;
    font-size: 2rem;
}

.bold{
    font-weight: 700;
}

.product-button {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2rem;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-top: 2rem;
}
.product-button:hover {
	background-color:#5cbf2a;
}


.product-button:active {
	position:relative;
	top:1px;
}

@media only screen and (max-width: 800px) {
    .product{
        flex-direction: column-reverse;
        width: 90vw;
        margin-bottom: 2rem;
    }

    .img-product{
        width: 100%;
    }

    .product-info{
        width: calc(100% - 30px);
        padding: 15px;
    }
  }